{
	"$schema": "https://json.schemastore.org/swcrc",
	"sourceMaps": true,
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"decorators": true,
			"dynamicImport": true
		},
		"paths": {
			"@modules/*": ["src/modules/*"]
		},
		"baseUrl": "./"
	},
	"minify": false
}